body
{
    margin: 0;
    
    background: url(images/bcakgr.png) no-repeat center 40px;
}
.main_content
{
    padding: 160px 0 0;
    max-width: 1200px;
    min-width: 320px;
    margin: 0;
}
.content
{
    position: relative;
    max-width: 960px;
    min-width: 280px;
    margin: 0;
    padding: 0 20px;
}
.header
{
    height: 40px;
    max-width: 960px;
    padding:0 20px;
    margin: auto;
}
.header a
{
    display: inline-block;
    padding: 10px 20px 9px 40px;

    text-decoration: none;
    color: rgb(51,51,51);
    background-color: rgb(255,255,255);

    background-repeat: no-repeat;
    background-position: 15px 13px;
}
.header a:hover
{
    background-color: rgb(21,169,140);
    color: rgb(245,245,245);

    background-repeat: no-repeat;
    background-position: 15px 13px;
}
.header p
{
    font-size: 19px;
    font-family: "Georgia";

    margin: 0;
}
.about_me
{
    background: url(images/about_me_icon.png);
}
.about_me:hover
{
    background: url(images/about_me_icon_2.png);
}
.hobby
{
    background: url(images/hobby_icon.png);
}
.hobby:hover
{
    background: url(images/hobby_icon_2.png);
}
.video
{
    background: url(images/video_icon.png);
}
.video:hover
{
    background: url(images/video_icon_2.png);
}
.top
{
    padding-top: 35px;
    position: relative;
}
.description
{
    position: relative;
    margin: 0;
}
.author_foto
{
    padding-right: 60px;
    position: relative;
    max-width: 330px;
    max-height: 350px;
}
.author_foto img
{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.quote
{
    margin: 0;
    
    font-size: 28px;
    line-height: 42px;
    color: rgb(132,132,132);
    font-family: "Georgia";
    font-style: italic;
}
.quote_author
{
    margin: 0;
    
    font-size: 16px;
    line-height: 42px;
    color: rgb(51,51,51);
    font-family: "Open Sans";
    font-weight: bold;
}
.quote_text
{
    display: table;
    height: 205px;
    padding: 50px 0 0;
    max-width: 450px;
}
.side_info
{
    width: 300px;
    margin: 50px 0 0 0;
}
.side_info ul, ol
{
    padding-left: 0;
    margin-left: 20px;
    padding-bottom: 50px;
}
.side_info li
{
    font-size: 19px;
    line-height: 36px;
    color: rgb(85,85,85);
    font-family: "Georgia";
}
.side_info p
{
    font-size: 24px;
    line-height: 32px;
    color: rgb(21,169,140);
    font-family: "Open Sans";
    font-weight: bold;
    
    margin: 0;
}
.bordered
{
    display: inline-block;
    border-top: 6px solid #45c3aa;
    width: 50px;
    border-radius: 3px;
    
    margin-bottom: 50px;
}
.main_info
{
    display: table;
    position: relative;
}
.main_text
{
    font-size: 19px;
    line-height: 32px;
    color: rgb(85,85,85);
    font-family: "Georgia";
    
    margin: -30px 0 50px;
}
.author_name
{
    font-size: 48px;
    line-height: 42px;
    color: rgb(51,51,51);
    font-family: "Open Sans";
    font-weight: bold;
    
    margin: 0 0 17px;
}
.second_tittle
{
    font-size: 36px;
    line-height: 42px;
    color: rgb(51,51,51);
    font-family: "Open Sans";
    
    margin-bottom: 50px;
}
.right
{
    margin-right: 19px;
}
.favourite_films
{
    background-color: #f9f9f9;
    padding: 4px 0 60px;
    margin: 60px 0 0;
}
.films div
{
    width: 285px;
    min-height: 680px;
    display: table;
    float: left;
}
.favourite_films img
{
    width: 285px;
    height: 190px;
    
    border-radius: 5px;
    background-color: #454545;
}
.favourite_films_tittle
{
    text-decoration: none;
    font-size: 22px;
    line-height: 32px;
    color: rgb(51,51,51);
    font-family: "Open Sans";
    font-weight: bold;
}
.favourite_films_text
{
    font-size: 16px;
    line-height: 28px;
    color: rgb(85,85,85);
    font-family: "Georgia";
}
.all_films_button
{
    text-align: center;
    margin: 60px 0 0;
}
.footer
{
    padding-top: 35px;
    height: 70px;
    background-color: #f5f5f5;
    
    text-align: center;
    font-size: 16px;
    line-height: 32px;
    color: rgb(85,85,85);
    font-family: "Georgia";
}
.clear
{
    clear: both;
}
.email_link
{
    text-decoration: none;
    font-size: 19px;
    line-height: 32px;
    color: rgb(21,169,139);
    font-family: "Georgia";
}
.email_link:hover
{
    color: rgb(9,141,114);
}
.email_link span
{
    text-decoration: underline;
}
.email
{
    max-width: 700px;
    margin: auto;
    padding: 50px 0;
    
    background: url(images/line.png) no-repeat center 70px;
}
.email_tittle
{
    text-align: center;
}
.email_tittle p
{
    font-size: 36px;
    line-height: 42px;
    color: rgb(51,51,51);
    font-family: "Open Sans";
    
    display: inline-block;
    padding: 0 20px 0;
    margin: 0 0 65px;
    
    background-color: white;
}
.form_container
{
    max-width: 550px;
    margin: auto;
}
.gender
{
    padding-bottom: 50px;
    
    font-size: 20px;
    line-height: 32px;
    color: rgb(51,51,51);
    font-family: "Open Sans";
}
.form_container label
{
    font-size: 20px;
    line-height: 32px;
    color: rgb(51,51,51);
    font-family: "Open Sans";
    
    cursor: pointer;
}
.form_container label:not([class="home"])
{
    cursor: text;
}
.form_container .gender label
{
    cursor: pointer;
    padding: 0 30px 0 0;
    
    font-size: 18px;
    line-height: 32px;
    color: rgb(51,51,51);
    font-family: "Open Sans";
}
.gender p
{
    margin: 0;
}
.form_container textarea
{
    resize: none;
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-bottom: 50px;
    
    border-radius: 3px;
    border: 2px solid #c9c9c9;
    box-sizing: border-box;

    font-size: 18px;
    line-height: 32px;
    color: rgb(85,85,85);
    font-family: "Open Sans";
}
.form_container input:not([type="radio"]), select
{
    width: 100%;
    height: 50px;
    padding:0 0 0 10px;
    margin-bottom: 30px;

    border-radius: 3px;
    border: 2px solid #c9c9c9;
    box-sizing: border-box;

    font-size: 18px;
    line-height: 32px;
    color: rgb(85,85,85);
    font-family: "Open Sans";
}
.form_container select, option
{
    font-size: 18px;
    line-height: 32px;
    color: rgb(85,85,85);
    font-family: "Open Sans";
}
.form_container select
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    background: url(images/cursor.png) no-repeat 97% 50%;
}
.form_container select:focus, input:not([type="radio"]):focus, textarea:focus
{
    outline: none !important;
    border-radius: 3px;
    border: 2px solid #15a98b;
}
.form_container span
{
    color: red;
}
.button a, button
{
    border-radius: 5px;
    background-color: #15a98b;
    border: 0;

    width: 220px;
    height: 50px;
    text-align: center;
    display: inline-block;

    text-decoration: none;
    font-size: 19px;
    line-height: 15px;
    color: rgb(245,245,245);
    font-family: "Georgia";
}
.button a:hover, button:hover
{
    cursor: pointer;
    background-color: #098d71;
}
@media screen and (min-width:918px)
{
    .content
    {
        margin: 0 100px;
    }
    .author_foto
    {
        float: left;
    }
    .side_info
    {
        margin-right: 60px;
        width: 330px;
        float: left;
    }
    .quote_text p
    {
        color: rgb(245,245,245);
    }
    .author_name
    {
        margin: -105px 0 17px;
    }
    .main_content
    {
        margin: auto;
    }
}
@media screen and (max-width:480px)
{
    .header
    {
        width: 250px;
        margin: 0;
        padding-left: 0;
    }
}